html, body, #container, main, .tab-container, #home-page {
  height: 100%;
}

#container {
  position: relative;
  min-height: 100%;
}

.main-header, .main-nav {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.logo {
  width: 30%;
  float: left;
  clear: right;
}

.logo img {
  display: inline-block;
  position: absolute;
  width: 15%;
}

.logo h1 {
  display: inline-block;
  position: relative;
  margin-top: 40%;
}

.main-nav ul {
  display: inline-block;
  float: right;
  width: 60%;
  position: relative;
}

.main-nav li {
  display: inline-block;
}

.forms {
  height: 70%;
  width: 30%;
  margin: 20% 5%;
  float: left;
  clear: right;
  position: absolute;
}

.forms button {
  margin-left: 5%;
}
