body {
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.5em;
  color: #1a1914;
  background-image: url("../images/compost.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.header-wrap h1 {
  font-family: 'Pacifico', cursive;
  font-size: 1.75em;
  text-align: center;
}

.logo {
  text-align: center;
}

.main-nav ul {
  list-style-type: none;
  text-align: center;
}

.main-nav li {
  padding-right: 5%;
  font-size: 1em;
}

a, a:link, a:active {
  color: #1a1914;
  text-decoration: none;
}

a:hover, a:focus a:visited {
  color: #76b57c;
}

.forms label {
  font-size: .75em;
}

.forms button {
  font-family: 'Cabin Sketch', cursive;
  font-size: .6em;
  padding: 1%;
  border-radius: 15%;
  text-align: center;
}
